<% # stylesheets 'scaffold' %>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>

<p>
  <b>Urn:</b>
  <%=h @page_object.urn %>
</p>

<p>
  <b>Name:</b>
  <%=h @page_object.name %>
</p>

<p>
  <b>Street line1:</b>
  <%=h @page_object.street_line1 %>
</p>

<p>
  <b>Street line2:</b>
  <%=h @page_object.street_line2 %>
</p>

<p>
  <b>City:</b>
  <%=h @page_object.city %>
</p>

<p>
  <b>State:</b>
  <%=h @page_object.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @page_object.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @page_object.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%=h @page_object.phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @page_object.fax %>
</p>

<p>
  <b>Link:</b>
  <%=h @page_object.link %>
</p>

<p>
  <b>Time zone:</b>
  <%=h @page_object.time_zone %>
</p>

<p>
  <b>Location note:</b>
  <%=h @page_object.location_note %>
</p>

<p>
  <b>Monday closed:</b>
  <%=h @page_object.monday_closed %>
</p>

<p>
  <b>Monday opens:</b>
  <%=h @page_object.monday_opens %>
</p>

<p>
  <b>Monday closes:</b>
  <%=h @page_object.monday_closes %>
</p>

<p>
  <b>Tuesday closed:</b>
  <%=h @page_object.tuesday_closed %>
</p>

<p>
  <b>Tuesday opens:</b>
  <%=h @page_object.tuesday_opens %>
</p>

<p>
  <b>Tuesday closes:</b>
  <%=h @page_object.tuesday_closes %>
</p>

<p>
  <b>Wednesday closed:</b>
  <%=h @page_object.wednesday_closed %>
</p>

<p>
  <b>Wednesday opens:</b>
  <%=h @page_object.wednesday_opens %>
</p>

<p>
  <b>Wednesday closes:</b>
  <%=h @page_object.wednesday_closes %>
</p>

<p>
  <b>Thursday closed:</b>
  <%=h @page_object.thursday_closed %>
</p>

<p>
  <b>Thursday opens:</b>
  <%=h @page_object.thursday_opens %>
</p>

<p>
  <b>Thursday closes:</b>
  <%=h @page_object.thursday_closes %>
</p>

<p>
  <b>Friday closed:</b>
  <%=h @page_object.friday_closed %>
</p>

<p>
  <b>Friday opens:</b>
  <%=h @page_object.friday_opens %>
</p>

<p>
  <b>Friday closes:</b>
  <%=h @page_object.friday_closes %>
</p>

<p>
  <b>Saturday closed:</b>
  <%=h @page_object.saturday_closed %>
</p>

<p>
  <b>Saturday opens:</b>
  <%=h @page_object.saturday_opens %>
</p>

<p>
  <b>Saturday closes:</b>
  <%=h @page_object.saturday_closes %>
</p>

<p>
  <b>Sunday closed:</b>
  <%=h @page_object.sunday_closed %>
</p>

<p>
  <b>Sunday opens:</b>
  <%=h @page_object.sunday_opens %>
</p>

<p>
  <b>Sunday closes:</b>
  <%=h @page_object.sunday_closes %>
</p>

<p>
  <b>Hours note:</b>
  <%=h @page_object.hours_note %>
</p>

